html,body {
  /*height:100%;*/
  margin:0;
  padding: 0;
}

body {
  padding-top: 10px;
  /*height:100%;*/
  font-size: 1.7em;
  font-family: 'tahoma', 'verdana';
}

[class*="col-"], footer {
  background-color: lightgreen;
  border: 1px solid white;
  border-radius: 6px;
  /*line-height: 50%;*/
  /*height: 100%;*/
  text-align: center;
}

.hcent
  {
    height:100%;
  }

h1
{
  width:100%;
  text-align: center;
}

.result
{
  background-color: rgb(192,203,255);
  color:black;
  text-align: left;
  border-radius: 0px;
  height: 43px;
  font-family: 'Courier New';
}

.background
{
  background-color: pink;
  padding: 20px;
}

.number
{
  background-color: rgb(255,116,140);
  font-weight:bold;
  cursor: pointer;
  /*margin:1px;*/
}

.operator
{
  background-color: rgb(255,218,224);
  cursor: pointer;
}

.number-bis
{
  background-color: rgb(255,167,182);
}

.equal
{
  background-color: rgb(203,255,182);
  cursor: pointer;
}

.row
{
  padding: 5px;
  height: auto;
}

.shadow
{
  box-shadow:  inset 0 0 7px #000000;
}

.clear
{
  cursor: pointer;
}

@media all and (max-width: 1280px) and (orientation:portrait)
{
  body
  {
    font-size: 12em;
  }

  .result
  {
    height: 150px;
  }
  
}
